<h1>Display your Pirate here</h1>
<p>Pirate Name: <%= @name %></p>
<p>Pirate Weight: <%= @weight %></p>
<p>Pirate Height: <%= @height %></p>

<h2>Display your first ship here</h2>
<p><%= @ship_arr[0][:name] %></p>
<p><%= @ship_arr[0][:type] %></p>
<p><%= @ship_arr[0][:booty] %></p>


<h2>Display your second ship here</h2>
<p><%= @ship_arr[1][:name] %></p>
<p><%= @ship_arr[1][:type] %></p>
<p><%= @ship_arr[1][:booty] %></p>
