<h1>Display your Pirate here</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
<p>Ship name: <%= @ships.first.name %></p>
<p>ship type: <%= @ships.first.type %></p>
<p>ship booty: <%= @ships.first.booty %></p>


<h2>Display your second ship here</h2>
<p>Ship name: <%= @ships.last.name %></p>
<p>ship type: <%= @ships.last.type %></p>
<p>ship booty: <%= @ships.last.booty %></p>