<h1>Display your Pirate here</h1>
<p>Name: <%= @name %></p>
<p>Weight: <%= @weight %></p>
<p>Height: <%= @height %></p>

<% @ships_array.each_with_index do |ship, index| %>
  <h2>Ship #<%= index + 1 %></h2>
  <p>Name: <%= ship["name"] %></p>
  <p>Type: <%= ship["type"] %></p>
  <p>Booty: <%= ship["booty"] %></p>
<% end %>
